# Simulation outputs - too large for git
*.trees
*.vcf
*.vcf.gz
*.bed
*.bim
*.fam
*.grm*

# Data
*.csv
!example_*.csv

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store

# log files from jobs
*err
*out

# figures 
*png
*pdf

# R
.Rhistory
.RData
.Rproj.user/

simulations/data/*
